body {
    font-family: 'Arial', sans-serif;
    background-image: url('../images/Feefee_hiking_landscape.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #000000;
}

button {
    background-color: #defeca;
    border: none;
    color: #000000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

input {
    background-color: #defeca;
}