/* Colors: 
current
dark teal: #008080 
light pink: #ffc0cb 'rgb(255,192,203)'
light blue: #d4ebf2 
white

legacy
light green: #defeca 
black: #000000 
light pink beige: #e69e8f 
*/


/* Anything inside the body */
body {
    font-family: 'Arial', sans-serif;
    /* background-image: url('../images/Feefee_hiking_landscape.jpg'); */
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
    color: #008080;
    background-color: #d4ebf2;
    padding-left: 2em;
    padding-right: 2em;  
} 

/* unvisited link */
a:link {
    color: #008080;
    border-radius: 5px;
}

/* visited link */
a:visited {
    color: #008080;
    border-radius: 5px;
}

/* mouse over link */
a:hover {
    color: #008080;
    border-radius: 5px;
}

/* selected link */
a:active {
    color: #ffc0cb;
    transition-duration: 0.1s;
    border-radius: 5px;
}

/* Any button */
button {
    background-color: #008080;
    border: none;
    color: #d4ebf2;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.1s;
    border-radius: 5px;
}

button:hover {
    background-color: #d4ebf2;
    color: #008080;
    border: 2px solid #ffc0cb;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    opacity: 1;
    border-radius: 5px;
}

button:active {
    background-color: #ffc0cb;
    color: #d4ebf2;
    border: 2px solid #008080;
    border-radius: 5px;
}

/* Any input field will be light green */
input {
    background-color: #d4ebf2;
    border-radius: 5px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #d4ebf2;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    color: #008080;
    border-radius: 5px;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
    color: #008080;
    background-color: #d4ebf2;
    border-radius: 5px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #d4ebf2;
    color: #008080;
    border-radius: 5px;
}

/* Add a color to the active/current link */
.topnav a.active {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #d4ebf2;
    color: #008080;
    border-radius: 5px;
}

/* Add the background color to navbar links on hover */
.topnav a:hover, .LW-dropdown:hover .LW-dropbtn {
    background-color: #008080;
    color: #d4ebf2;
    border-radius: 5px;
}

/* The dropdown container */
.LW-dropdown {
    float: left;
    overflow: hidden;
}
  
/* Dropdown button */
.LW-dropdown .LW-dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: #008080;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    border-radius: 5px;
} 

/* Dropdown content (hidden by default) */
.LW-dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #008080;
    z-index: 1;
}
  
/* Links inside the dropdown */
.LW-dropdown-content-btn {
    float: none;
    color: #008080;
    background-color: #d4ebf2;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 100%;
    border-radius: 5px;
    border-color: #ffc0cb;
    border-radius: 5px;
}

/* Show the dropdown menu on hover */
.LW-dropdown:hover .LW-dropdown-content {
    display: block;
    border-color: #ffc0cb;
    border-radius: 5px;
}

.LW-dropdown-content-btn:hover {
    background-color: #008080;
    border-radius: 5px;
    border-color: #ffc0cb;
}

.LW-dropdown-content-btn:active {
    background-color: #ffc0cb !important;
    border-radius: 5px;
    border-color: 1px #ffc0cb !important;
    color: #d4ebf2 !important;
    border: 1px solid #008080 !important;
}


.bottomnav-right a {
    float: right;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #d4ebf2;
    color: #008080;
    width: 100%;
    bottom: 0;
    border-radius: 5px;
}

/* Add the background color to bottom navbar links on hover */
.bottomnav-right a:hover {
    background-color: #008080;
    color: #d4ebf2;
    width: 100%;
    bottom: 0;
    border-radius: 5px;
}

/* Right-aligned bottomnav section */
.bottomnav-right {
    float: right;
    color: #008080;
    background-color: #d4ebf2;
    width: 100%;
    bottom: 0;
    border-radius: 5px;
}

.calendar {
    max-width: 800px; 
    margin: 10px auto;
    background: #008080;
    color: #d4ebf2;
    border-radius: 5px;
    border-color: #ffc0cb;
}

h1 {
    text-align: center;
}

p.center {
    text-align: center;
}

.LW-modal-btn {
    background: #008080;
    color: #d4ebf2;
    border-radius: 5px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.1s;
}

.LW-modal-btn:hover {
    background: #d4ebf2;
    color: #008080;
    border-radius: 5px;
    border: 2px solid #ffc0cb;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    opacity: 1;
    border-radius: 5px;
}

.LW-modal-btn:active {
    background-color: #ffc0cb !important;
    color: white !important;
    border-radius: 5px !important;
    border: 2px solid #008080 !important;
}

div {
    border-radius: 5px;
}

img {
    border-radius: 5px;
}

.box.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}