<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}{% endblock %}

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  <title>{% block title %}PetPlanner{% endblock %}</title>

  <!-- Link to SVG Favicon -->
  <link rel="icon" type="image/svg+xml" href="/static/images/calendar2-heart-fill.svg">

  <!--Bootstrap CSS-->

  <!-- My stylesheets and scripts here - they go below in case I want to overwrite anything on the bootstrap above -->
  <link rel="stylesheet" href="/static/css/petplanner.css">
  <!-- include this in the css link tag brackets above in the future for security: integrity="your-custom-integrity-hash" crossorigin="anonymous" -->
</head>

<body>
  <header>
    <ul>
      {% for message in get_flashed_messages() %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>

    <script src="login_logout_listener.js"></script>
  </header>

  <main>
    <!-- navbar -->
    <div class="topnav"> 
      <a class="active" href="/dashboard">Dashboard</a>
      <a href="#mypets">My Pets</a>
      <a href="#myevents">My Events</a>
      
      <div class="dropdown">
        <button class="dropbtn">Add
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Pet</a>
          <a href="#">Event</a>
          <a href="#">Specialist</a>
        </div>
      </div>  
      
      <div class="topnav-right">
        <a id="loginlogout" href="/login">Log In</a>
        <a href="/my-account">My Account</a>
      </div>
    </div>

    {% block content %}{% endblock %}
  </main>

  <footer>
  </footer>
</body>
</html>
