<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}{% endblock %}

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Fullstack web app, developed in Python, JS, React, using Postgres relational database and APIs">
    <meta name="author" content="Lucca Wang">

    <!-- Open Graph internet protocol for the LinkedIn & Fb social card - so info. comes up with the url link-->
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:title" content="PetPlanner by Lucca Wang">
    <meta property="og:description" content="Fullstack web app, developed in Python, JS, React, using Postgres relational database and APIs">
    <meta property="og:image" content="">

    <!-- Open Graph for the Twitter social card - so info. comes up with the url link -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="">
    <meta property="twitter:creator" content="@LuccaWangNow"> 
    <meta property="twitter:title" content="PetPlanner by Lucca Wang">
    <meta property="twitter:description" content="Fullstack web app, developed in Python, JS, React, using Postgres relational database and APIs">
    <meta property="twitter:image" content="">
    
    <title>{% block title %}PetPlanner{% endblock %}</title>

    <!-- Link to SVG Favicon -->
    <link rel="shortcut icon" type="image/png" href="/static/images/favicon/cat-and-dog.png">

    <!--Full Calendar CDN-->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>
    
    <!-- React and ReactDOM from CDN -->
    <script src="https://cdn.jsdelivr.net/npm/react/umd/react.production.min.js" crossorigin></script>

    <script src="https://cdn.jsdelivr.net/npm/react-dom/umd/react-dom.production.min.js" crossorigin></script>

    <!--Modal Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/react-bootstrap@next/dist/react-bootstrap.min.js" crossorigin></script>

    <!--Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <script>const Alert = ReactBootstrap.Alert;</script>

    <!--Babel JS-->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"/>

    <!-- Google Font API -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- My own CSS in styles.css (place here below the Bootstrap CDN links, to use my CSS & overright Bootstrap in case I've specified anything for my own styling) -->
    <link rel="stylesheet" href="/static/css/styles.css">
  </head>

  <body>
    <header>
      <!-- this is to flush all flashed messages and make sure they are flashed to prevent any backlog or issues -->
      <ul> 
        {% for message in get_flashed_messages() %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </header>

    <main>
      <nav>
        <!-- left side of nav -->
        <div class="topnav-left">
          {% if "owner_email" in session %}
            <a href="/dashboard">
              Dashboard
            </a>
            
            <a href="/my-events">
              My Events
            </a>
          
            <div class="LW-dropdown">
              
              <!-- dropdown menu -->
              <button class="LW-dropbtn">
                Add
                <i></i>
              </button>
              
              <!-- options in dropdown menu -->
              <div class="LW-dropdown-content">
                <!-- Bootstrap and my own CSS styling -->
                <div class="p-1 LW-dropdown-content-btn" id="add_pet">
                </div>

                <div class="p-1 LW-dropdown-content-btn" id="add_event">
                </div>

                <div class="p-1 LW-dropdown-content-btn" id="add_specialist">
                </div>
              </div>
            </div> 

          {% else %}
            <!-- if the user is logged in, Jinja2 will show them the above, but if not, the user will only see the options directly below in the nav -->
            <a class="active" href="/">
              Home
            </a>
            
            <a href="/create-account">
              Create Account
            </a>
          {% endif %}
        </div>

        {% title in nav %}{% endblock %}
      
      <!-- right side of nav -->
      <!-- same thing here: i'm using Jinja2, a Python web template engine, for conditional rendering on the nav - this is on the part of the nav that floats to the right (on the same navbar, just position on the right side of the page/DOM) -->
        <div class="topnav-right">
          {% if "owner_email" in session %}
            <a id="loginlogout" href="/logout">
              Log Out
            </a>

            <a href="/my-account">
              My Account
            </a>

          {% else %}
            <a id="loginlogout" href="/login">
              Log In
            </a>
          {% endif %}
        </div>
      </nav>

      <section id="body">
        {% block content %}{% endblock %}
      </section>
    </main>

    <!-- all script tags for React components - there are 3 React components, so they each get their own script file tag -->
    <script type="text/jsx" src="/static/js/AddPetModal.jsx"></script>
    <script type="text/jsx" src="/static/js/AddEventModal.jsx"></script>
    <script type="text/jsx" src="/static/js/AddSpecialistModal.jsx"></script>
  </body>
</html>