{% extends 'base.html' %}

<!-- start head -->
{% block head %}{% endblock %}
{% block title %}Create Account{% endblock %}
<!-- end head -->

<!-- start body -->
{% block navbar %}{% endblock %}

{% block content %}
<h1>Create Account</h1>

<form action="/create-account-handler" id="create-account-form" method="POST">
    <label for="owner_fname">First Name</label>
    <input id="owner_fname" type="text" name="owner_fname" required />
    <p></p>
    <label for="owner_lname">Last Name</label>
    <input id="owner_lname" type="text" name="owner_lname" required />
    <p></p>
    <label for="owner_email">Email</label>
    <input id="owner_email" type="text" name="owner_email" required />
    <p></p>
    <label for="password">Password</label>
    <input id="password" type="password" name="password" required />
    <p></p>
    <button type="submit" id="create-account-btn">Create My Account</button>
</form>
{% endblock %}
<!-- end body -->