{% extends 'base.html' %}

{% block head %}{% endblock %}
{% block title %}Dashboard{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
<h1>Dashboard</h1>
<h1>Welcome, {{ owner_fname }}!</h1>
<p></p>
<!-- look at div row and columns  -->
<div class="card-deck" class="d-flex flex-row">
{% for pet in owner_pets %}
  <div class="card" class="max-auto" style="width: 18rem;">
      {% if pet.imgUrl %}
      <img class="card-img-top" src="{{ pet.imgUrl }}" alt="Card image cap">
      {% else %}
      <img class="card-img-top" src="/static/images/petplanner-defaultpetcardph.jpg" alt="Card image cap">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ pet.pet_fname }}</h5>
        <p class="card-text">Notes: {{ pet.pet_comment }}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Breed: {{ pet.breed }}</li>
        <li class="list-group-item">Birthday: {{ pet.birthday }}</li>
        <li class="list-group-item">Insurance Policy Number: {{ pet.insurance_policy_num }}</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Edit</a>
        <a href="#" class="card-link">Delete Pet</a>
        <a href="#" class="card-link">See Pet</a>
      </div>
    </div>
{% endfor %}
</div>
<p></p>
{% endblock %}

{% block bottomnav %}
{% if "owner_email" in session %}
<a class="bottomnav-right" href="/">Homepage - you'll still be logged in</a>
{% endif %}
{% endblock %}

