{% extends 'base.html' %}

{% block head %}{% endblock %}
{% block title %}Dashboard{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
<h1>Dashboard</h1>

<p><u>Here are your pets:</u></p>
<p>List of pets with their events:</p>
<ul>
    <li>Pet1</li>
        <ul>
            <li>Pet1 event1</li>
            <li>Pet1 event2</li>
        </ul>
    <li>Pet2</li>
        <ul>
            <li>Pet2 event1</li>
            <li>Pet2 event2</li>
        </ul>
    <li>Pet3</li>
</ul>

<a href="/login">Back to Log In page</a>
{% endblock %}