{% extends 'base.html' %}

{% block head %}{% endblock %}
{% block title %}Dashboard{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
<h1>Dashboard</h1>
<h1>Welcome, {{ owner_fname }}!</h1>

<p><u>Your pets:</u></p>
<p></p>
<ul>
    <li>Pet1</li>
        <ul>
            <li>Pet1 event1</li>
            <li>Pet1 event2</li>
        </ul>
    <li>Pet2</li>
        <ul>
            <li>Pet2 event1</li>
            <li>Pet2 event2</li>
        </ul>
    <li>Pet3</li>
</ul>
{% endblock %}