{% extends 'base.html' %}

<!-- start head -->
{% block head %}{% endblock %}
{% block title %}Welcome!{% endblock %}
<!-- end head -->

<!-- start body -->
{% block navbar %}{% endblock %}

{% block content %}
<h1>Welcome to PetPlanner!</h1>
<p></p>
<p><em>Where our pets come first</em></p>
<p></p>
<!-- might make the line directly above pink with cursive ? -->
{% endblock %}

{% if "owner_email" in session %}
<a class="bottomnav-right" href="/dashboard">Back to my babies</a>
{% endif %}

{% block bottomnav %}
{% if "owner_email" in session %}
<a class="bottomnav-right" href="/dashboard">Back to my babies</a>
{% endif %}
{% endblock %}