{% extends 'base.html' %}

<!-- start head -->
{% block head %}{% endblock %}
{% block title %}Welcome!{% endblock %}
<!-- end head -->

<!-- start body -->
{% block navbar %}{% endblock %}

{% block content %}
<h1>Welcome to PetPlanner!</h1>
<p></p>
<p>Where our pets come first</p>
<p></p>
<p></br></p>
<p>PetPlanner is a web application, helping pet owners everywhere keep track of their pet's schedule for vet and grooming appointments, walks, feeding, and more!</br>
</br>
Track your pet's information, so you don't have to hunt for when their next vaccination is due - and you'll have their specialists' contact information handy for a quick phone call or address for directions, too!</br> 
</br>
The app's integration with Google Calendar events allows users to conveniently place fury baby necessities on their Google Calendar and receive notifications on those events.</p>
<!-- might make the line directly above pink with cursive ? -->
{% endblock %}
<!-- end body -->