{% extends 'base.html' %}

<!-- start head -->
{% block head %}{% endblock %}
{% block title %}Log In{% endblock %}
<!-- end head -->

<!-- start body -->
{% block content %}
<h1>Log In</h1>

<form action="/login-handler" class="form-signin" id="login-form" method="POST">
    <label for="email">Email</label>
    <input id="email" type="text" name="email" required />
  <p></p>
    <label for="password">Password</label>
    <input id="password" type="password" name="password" required />
  <p></p>
    <button type="submit" id="login-btn">Log In</button>
</form>

<p></p>

<a href="/create-account">If you don't have an account, you can create one here</a>
{% endblock %}
<!-- end body -->