{% extends 'base.html' %}

<!-- start head -->
{% block head %}{% endblock %}
{% block title %}My Account{% endblock %}
<!-- end head -->

<!-- start body -->
{% block navbar %}{% endblock %}

{% block content %}
<h1>My Account</h1>

<p>
User's first name last name </br>
email </br>
change password </br>
</br></br>
My pets:</br>
pet list </br>
</br></br>
My event settings </br>
</br></br>
Most recent specialists I've added </br>
list of 3 most recent specialists added </br>
</p>
{% endblock %}
<!-- end body -->