{% extends 'base.html' %}

{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js"></script>{% endblock %}
{% block title %}PetPlanner: Events{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
    <h1>
        My Events
    </h1>
    
    <br>

    <!-- this is the div where the customized calendar is place for users to see on the DOM -->
    <div id='calendar' class="calendar">
    </div>
    
    <br>

    <script src="/static/js/calendar.js"></script>
{% endblock %}